In [3]:
import importlib
import utils 

import pandas as pd
import numpy as np

import matplotlib.pylab as plt
from pandas.plotting import scatter_matrix
import seaborn as sns; sns.set()

from sklearn.pipeline import Pipeline

%matplotlib inline

In [4]:
importlib.reload(utils)

df = utils.PrepareData().df

df.head()

PrepareData constructor
DataFrame created from data/house_ext.csv

,id,date,price,price_bin,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,criminal_activities
0,7129300520,20141013T000000,221900.0,0,3,1.00,1180,5650,1.0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,514
1,6414100192,20141209T000000,538000.0,0,3,2.25,2570,7242,2.0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,502
2,5631500400,20150225T000000,180000.0,0,2,1.00,770,10000,1.0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,0
3,2487200875,20141209T000000,604000.0,0,4,3.00,1960,5000,1.0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,233
4,1954400510,20150218T000000,510000.0,0,3,2.00,1680,8080,1.0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,0